.App {
    text-align: center;
}

html {
    height: 100%;
    box-sizing: border-box;
    position: relative;
    font-size: 62.5%;
}

body {
    min-height: 100%;
    position: relative;
    padding-bottom: 6rem;
    margin: 0;
    font-family: "Roboto", sans-serif;
    background: url("C:\Users\tmartin2\Documents\Lambda Github\Front-End\simpsons-says\src\Images\Clouds.jpg")
        no-repeat center center fixed;
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: cover;
    color: #ffffff;
}
h1,
h2,
h3,
h4,
h5 {
    font-family: "Montserrat", sans-serif;
}
h1 {
    font-size: 4rem;
    font-family: "Rock Salt", cursive;
    color: #ffd90f;
}
h2 {
    font-size: 3.2rem;
    padding-bottom: 10px;
}
h3 {
    font-size: 2.5rem;
    padding-bottom: 10px;
}
p,
ol {
    line-height: 1.5;
    font-size: 1.6rem;
    color: #000000;
    padding-bottom: 10px;
}

.main-nav {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    background-color: #fed90f;
    font-size: 4rem;
}

header {
    font-family: "Rock Salt", cursive;
    color: #ffd90f;
    text-align: center;
}

.card-container {
    display: flex;
    flex-direction: column;
    width: 400px;
    margin: 20px auto;
}

.card {
    height: 200px;
    padding: 15px;
    text-align: center;
}
.search-form {
    margin: 20px auto;
    width: 200px;
}

.save-quote {
    margin: 10px auto;
}
