@font-face {
    font-family: 'Rock Salt';
    font-style: normal;
    font-weight: 400;
    src: local('Rock Salt Regular'), local('RockSalt-Regular'), url(https://fonts.gstatic.com/s/rocksalt/v10/MwQ0bhv11fWD6QsAVOZrt0M6.woff2) format('woff2');
    unicode-range: U+0000-00FF, U+0131, U+0152-0153, U+02BB-02BC, U+02C6, U+02DA, U+02DC, U+2000-206F, U+2074, U+20AC, U+2122, U+2191, U+2193, U+2212, U+2215, U+FEFF, U+FFFD;
  }

body{
    background-image: url('https://img4.goodfon.com/original/1920x1080/1/2e/multfilm-shou-simpsons-personazh-20th-century-fox-art-ris-15.jpg');
}



.login-form-container h1 {
    font-family: 'Rock Salt', cursive;
    font-size: 3rem;
    color: #FED90F;
    text-shadow: 3px 3px #000;
    
}

.login-form {
    border: 1px solid #FED90F;
    width: 20%;
    margin: 50px auto;
    height: 260px;
    // padding: 20px;
    background-color: #FED90F;
    display: flex;
    flex-direction: column;
    border-radius: 10px;
    box-shadow: 0px 0px 5px 0px rgba(0,0,0,0.75);
    input {
        margin: 10px auto;
        width: 80%;
        border-radius: 5px;
        height: 30px;
        font-size:1.2rem;
        text-align:center;
        background-color: #91D5F7;
        color: white;
        text-shadow: 1px 1px 2px rgba(0, 0, 0, 0.281);
        font-weight: bold;
        font-size: 1.2rem;
    }
    .register-description{
        margin: 10px 0;
    }
    h2{
    margin-top: 10px;
    font-family: 'Rock Salt', cursive;
    font-weight: bold;
    text-align: center;
    color:black;
    }
    p{
        text-align:center;
        font-weight: bold;
        a{
            color: #EB589D;
        }
    }
    button{
        display:inline-block;
        width: 30%;
        margin: 0 auto;
        height: 30px;
        font-size: 1.5rem;
        border-radius: 5px;
        font-weight:bold;
        background-color:#EB589D;
        color: white;
        transition: color 0.2s linear;
        -webkit-transition: color 0.2s linear;
        -moz-transition: color 0.2s linear;
    }
    button:hover{
        background-color:white;
        color: #EB589D;
    }
}